extends base

block append head 
  script(src="/js/cart.js", defer)

block content
  main.main.flex.flex-col-reverse(class="md:flex-row" id="cart-page-main")
    - if (data.cart !== undefined)
      .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
        h2.text-2xl.font-semibold.mb-6 Your Cart
        div
          each item in data.cart
            .cart-item.mb-6.flex.items-start.border-b.border-gray-200.pb-4(id=`product-${item.productId}`)
              img(src=item.thumbnail, alt=item.name, class="w-16 h-16 mr-4")
              .cart-item-details.flex-1.ml-4
                h3.text-lg.font-semibold.mb-2= item.name
                p.text-gray-600.mb-2.text-sm Stock: #{item.stock}
                .flex.flex-row.items-start.mb-2.gap-3
                  input.form-input.w-16.shadow-md(id=`quantity-${item.productId}`, type="number", min="1", value=`${item.quantity}`, class="border-gray-600 rounded-md px-2 py-1 text-sm bg-transparent border-0 text-gray-800 text-center focus:ring-0")
                  button.update-btn.px-3.py-1.bg-sky-400.text-white.text-sm.rounded-md.mb-2(data-item-id=`${item.productId}` class="hover:bg-sky-500") Update
                  button.delete-btn.px-3.py-1.text-white.text-sm.rounded-md(data-item-id=`${item.productId}` class="bg-[#CC0000] opacity-80 hover:opacity-100") Delete
              .ml-auto
                p.text-gray-600.font-semibold.mb-2 Price: #{item.price.toLocaleString("hi-IN", {style: "currency", currency: "INR"})}
      aside.sidebar.w-full(class=" md:w-64 px-4 py-8 bg-gray-100 shadow-md rounded-lg")
        h3.text-xl.font-semibold.mb-4 Cart Summary
        p.text-lg.font-semibold Total Items: 
          span#cart-total-items #{data.totalItems}
        p.text-lg.font-semibold Total Price: 
         span#cart-total-price #{data.totalPrice.toLocaleString("hi-IN", {style: "currency", currency: "INR"})}
        a(href="/checkout").my-4.px-4.py-2.block.mx-auto.bg-sky-400.text-white.text-center.rounded-md(class="hover:bg-sky-500") Checkout
    - if (data.cart === undefined)
      .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
        h1.text-lg.font-semibold.mb-2.text-center Cart is empty
        a(href="/").sky-400.border-sky-400.text-center.font-bold.block.w-full.underline.underline-offset-4.text-xl Home 








