extends base

block append head 

block content
  h2.text-2xl.font-semibold.mb-6.text-center.pt-4 #{message}
  a(href=`/orders`).sky-400.border-sky-400.text-center.font-bold.block.w-full.underline.underline-offset-4.text-xl My orders
  main.main.flex.flex-col-reverse(class="md:flex-row" id="cart-page-main")
    - if (orderId !== undefined)
      .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
        p.text-sky-400.mb-2.block.text-center Order ID:  
          span #{orderId}
        a(href=`/orders/${orderId}`).sky-400.border-sky-400.text-center.font-bold.block.w-full.underline.underline-offset-4.text-xl View Order Details 
        .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
          h2.text-2xl.font-semibold.mb-6 Order Items
          div
            each item in order.items
              .cart-item.mb-6.flex.items-start.border-b.border-gray-200.pb-4(id=`product-${item.productId}`)
                img(src=item.thumbnail, alt=item.name, class="w-16 h-16 mr-4")
                .cart-item-details.flex-1.ml-4
                  a(href=`/products/${item.productId}`).underline 
                    h3.text-lg.font-semibold.mb-2= item.name
                  p.text-gray-600.mb-2.text-sm Quantity: #{item.quantity}

                .ml-auto
                  p.text-gray-600.font-semibold.mb-2 Price: #{item.price.toLocaleString("hi-IN", {style: "currency", currency: "INR"})}
      aside.sidebar.w-full(class=" md:w-64 px-4 py-8 bg-gray-100 shadow-md rounded-lg")
        h3.text-xl.font-semibold.mb-4 Order Summary
        p.text-lg.font-semibold Total Items: 
          span#cart-total-items #{order.totalItems}
        p.text-lg.font-semibold Total Price: 
          span#cart-total-price #{order.orderTotal.toLocaleString("hi-IN", {style: "currency", currency: "INR"})}
        a(href="/orders" class="hover:bg-sky-500").my-4.px-4.py-2.block.mx-auto.bg-sky-400.text-white.text-center.rounded-md My orders
    //- - if (data.cart === undefined)
    //-   .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
    //-     h1.text-lg.font-semibold.mb-2.text-center Cart is empty
    //-     a(href="/").sky-400.border-sky-400.text-center.font-bold.block.w-full.underline.underline-offset-4.text-xl Home 

