extends base

mixin productCard(product)
  .product-card.shadow-lg.rounded-lg.overflow-hidden.bg-white
    .product-image-container
      img(src=`${product.thumbnail}`, alt=product.name, class="w-full h-auto")
    .product-info.p-4
      h3.text-lg.font-semibold.mb-2= product.name
      p.text-gray-600.mb-2= product.category
      p.text-gray-700.font-semibold.mb-2 ₹ #{product.price}
      //- p.text-gray-600.mb-2 Quantity: #{product.quantity}
      .buttons.flex.justify-between.items-center.mt-4
        a.btn-details.bg-gray-200.text-gray-700.px-4.py-2.rounded-lg.transition-all(class="hover:bg-gray-300 hover:shadow-md" href=`/products/${product._id}`) Details
        button.btn-add-to-cart.bg-sky-400.text-white.px-4.py-2.rounded-lg.transition-all(class="hover:bg-sky-500 hover:shadow-md" type="button" id="add-to-cart" data-product-id=product._id) Add to Cart

block content
  section.section-container.my-8
  .container.mx-auto.p-2
    .grid.gap-5.grid-cols-1(class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4")
      each product in products
        +productCard(product)